<?xml version="1.0" encoding="UTF-8"?>
<server description="Trellis Test Server">

    <featureManager>
        <feature>microProfile-2.2</feature>
    </featureManager>

    <variable name="default.http.port" defaultValue="some.default.value2"/>

    <httpEndpoint id="defaultHttpEndpoint" httpPort="${default.http.port}"/>

</server>
