<?xml version="1.0" encoding="UTF-8"?>
<server description="Trellis Test Server">

  <featureManager>
    <feature>microProfile-2.2</feature>
    <feature>jdbc-4.2</feature>
  </featureManager>

  <library id="H2JDBCLib">
    <fileset dir="${server.config.dir}/jdbc"/>
  </library>

  <dataSource id="h2test" jndiName="jdbc/h2test">
    <jdbcDriver libraryRef="H2JDBCLib"/>
    <properties URL="jdbc:h2:mem:testdb"/>
  </dataSource>

  <variable name="default.http.port" defaultValue="some.default.value2"/>

  <httpEndpoint id="defaultHttpEndpoint" httpPort="${default.http.port}"/>

</server>
